.article {
  display: flex;
  justify-content: space-between;
  height: 140px;
  width: 940px;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 5px;
  padding: 15px 15px 24px 15px;
  box-shadow: 0 4px 12px #00000026;

  &Full {
    display: flex;
    justify-content: space-between;
    width: 940px;
    height: 100%;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 5px;
    padding: 15px 15px 24px 15px;
    box-shadow: 0 4px 12px #00000026;
  }

  &Left {
    max-width: 682px;

    &Text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &Full {
        font-family: Inter, 'Times New Roman', sans-serif;
        white-space: normal;
      }
    }

    &Title {
      display: flex;
      align-items: center;
      font-family: 'Inter', 'Times New Roman', sans-serif;
      font-size: 20px;

      &Text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: Inter, 'Times New Roman', sans-serif;
        font-weight: 400;
        font-size: 20px;
      }

      &Full {
        font-size: 20px;
        white-space: normal;

      }

      & > h1 > a {

        color: #1890FF;

      }
    }

    &ButtonLike {
      border: none;
      background: transparent;
      cursor: pointer;
    }

    &LikesCount {
      font-size: 12px;
    }

    &Tag {
      margin: 6px 8px 7px 0;
    }

    &Text {
      font-family: Inter, "Times New Roman", sans-serif;
      color: rgba(0, 0, 0, 0.75);
      font-size: 12px;
    }

  }

  &Right {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;

    &Top {
      display: flex;
    }

    &Bottom {
      display: flex;
      margin-top: 12px;

      &Edit {
        font-family: Inter, 'Times New Roman', sans-serif;
        color: #52C41A;
        padding: 6px 20px;
        border: 1px solid #52C41A;
        border-radius: 5px;
        margin-left: 12px;

      }
    }

    &Info {
      align-self: center;

      &Name {
        font-family: Inter, 'Times New Roman', sans-serif;
        font-size: 18px;
        margin-bottom: 5px;
      }

      &Date {
        font-family: Inter, 'Times New Roman', sans-serif;
        font-size: 12px;
      }
    }

    &Avatar {
      height: 46px;
      width: 46px;
      margin-left: 12px;
    }
  }

  &Faforite {
    display: flex;
    margin-left: 13px;
    height: 26px;
    width: 26px;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: #EBEEF3;
    }
  }
}
