.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &Text {
    font-family: 'Inter';
    margin: -30px auto;
    justify-content: space-between;
    width: 940px;
    padding: 15px;
    background-color: #ffffff;
    font-size: 20px;
    line-height: 28px;
    overflow-wrap: anywhere;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 4px 12px #00000026;

  }
}



